<div class="outer " >
  <div class="top">
    <div class="container">
          <span class="heading">TestCase Name  </span>
          <span class="" >Loremasd sadas</span>
          <span class="heading ">TestCase Description</span>
          <span  class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
          <span class="heading ">Precondition</span>
          <span  class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
          <span class="heading ">priority</span>
          <span  class="">Lorem igdfg thau .</span>
          <hr>
          <div class="col-md-8 null-pad">
            <span class="">STEPS</span>
                <li ng-repeat="step in steps['testCaseId']" class="pad-20-t cust-pie-legend">
                  <span class="block">{{$index+1}}.{{step['que']}}</span>
                    <span class="text-muted block check-text">{{step['check']}}</span>
                  </td>
                </li>
          </div>
          <div class="col-md-4 null-pad ">

          </div>
    </div>
  </div>
</div>
