<div class="modal-header">
  <i class="fa fa-times pull-right" ng-click="cancel()"></i>
  <h3 class="modal-title">ASSIGN TASK</h3>
</div>
<div class="modal-body">
  <div class="modal-content-wrapper">
    <div class="col-md-6">
      <div class="form-group has-feedback">
        <label for="">Test Case</label>
        <span class="block mar-15-b">{{tcName}}</span>
         <select class="form-control" ng-model="testerOptions.selected" ng-options="o as o for o in testerOptions.options"></select>
      </div>
    </div>
    <div class="col-md-6">
      <label for="">Choose Browsers</label>
      <div class="border-1px">
        <span><i ng-repeat="browser in browsers" class="fa fa-{{browser}} modal-browser-icons muted"  ng-class="{'browser-selected':brarray.indexOf(browser) >-1}" ng-click="helpers.toggleSelect(brarray,browser)"></i></span>
      <div class="xs-text text-right underline"><a href="#">Request additional browser support</a></div>
      </div>
    </div>
    <div class="col-md-12 text-center mar-right-20 mar-top-20">
      <button class="btn btn-custom-light" type="button" ng-click="cancel()">CANCEL</button>
      <button class="btn btn-custom-dark" type="button" ng-click="proceed()">ASSIGN</button>
    </div>
  </div>
</div>
